// Main Colors

$bodyColor: #F4F4F4;
$navblue: #19274C;
$white: #fff;
$black: #000;
$smoke: #fafafa;
$text_blue: #37C4C9;


//Main headings

$first_heading: 28px;
$second_heading: 20px;
$third_heading: 16px;
$default_font: 14px;


// RESPONSIVE VIEWPORT

$mobile: 575.98px;
$mobile_landscape_min: 576px;
$mobile_landscape_max: 767.98px;
$tablet_min: 768px;
$tablet_max: 991.98px;
$tablet_lanscape_min: 992px;
$tablet_landscape_max: 1199.98px;
